<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <title>Tokbox: Beer Bash</title>
  <link href="resources/main.css" rel="stylesheet">
  <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="//static.opentok.com/v2/js/opentok.js"></script>
</head>
<body>
  <div id="screen_container">
    <div id="screen"></div>
  </div>
  <div class="controls">
    <span id="actions">
      <button onclick="pressButton('A')">A</button>
      <button onclick="pressButton('B')">B</button>
      <button onclick="pressButton('L')">L</button>
      <button onclick="pressButton('R')">R</button>
    </span>
    <span>
      <button onclick="pressButton('LEFT')">←</button>
      <button onclick="pressButton('UP')">↑</button>
      <button onclick="pressButton('RIGHT')">→</button>
      <button onclick="pressButton('DOWN')">↓</button>
      <button onclick="pressButton('START')">Start</button>
      <button onclick="pressButton('SELECT')">Select</button>
    </span>
  </div>
</body>
<script>
  var apiKey =  "<%= apiKey %>";
  var sessionId =  "<%= sessionId %>";
  var token =  "<%= token %>";
  var session = OT.initSession(apiKey, sessionId);
  session.connect(token);
  session.on('streamCreated', function (event) {
    session.subscribe(event.stream, 'screen', {
        insertMode: 'append'
    });
  });

  function pressButton (keyId) {
    session.signal({
      type: 'control',
      data: keyId
    });
  }
</script>
</html>
