button {
  font-family: 'Calibri', 'Verdana', sans-serif;
}

#screen {
  margin-top: 40px;
  margin-bottom: 20px;
  border-width: 5px;
  border-style: solid;
  border-color: black;
}

#screen[width="240"] {
  margin-top: 42.5px;
  margin-bottom: -363px; /* Take up no height */
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  zoom: 2;
  -o-transform: scale(2);
}

#crash {
  margin-top: 100px;
  margin-bottom: 199px;
}

button {
  background-color: #6A4883;
  font-weight: bold;
  font-size: 18px;
  color: white;
  text-shadow: 0 3px #433061;
  padding: 2px 10px 5px;
  border-radius: 10px 10px 10px 10px;
  border: 0 solid rgba(0, 0, 0, 0.4);
  border-width: 3px 1px 0px;
  display: inline;
  box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.2) inset;
  margin: 0 0 20px;
}

.hidden {
  -moz-transform: rotateX(90deg) !important;
  -webkit-transform: rotateX(90deg) !important;
}

.dead {
  display: none;
}

input[type=file] {
  opacity: 0 !important;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: none;
}

input[type=range] {
  width: 100px;
  height: 14px;
  margin: 2px;
}

#gba-container {
  text-align: center;
}

#header {
  text-align: center;
}
